/*
 * Settings for the entire site
 */
body, html {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  color: #383533;
  height: 100% !important;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  margin-top: 20px;
  margin-bottom: 20px;
}

h1 {
  margin-top: 0;
}
h5, h6 {
    margin: 0;
}

p, li, .btn {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
}

@media (min-width: 480px) {
    p, li, .btn {
      font-size: 18px;
    }
}

a, a:hover, a:visited, a:active, a:focus {
  color: inherit;
  text-decoration: underline;
}
a:hover, a>i:hover {
  color: #00a;
}

.top {
  margin-top: 100px;
}

/*
 * Settings for the top navigation bar
 */
.navbar {
  background: #fff;
  border: none;
  border-bottom: 1px solid #d8d8d8;
}

.navbar-default .navbar-toggle {
  color: #383533;
  border-color: #383533;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #383533;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #fff;
}

.navbar-default .navbar-nav > li > a {
  color: #383533;
  text-decoration: none;
  line-height: 30px;
  padding: 10px;
  font-size: 15px;
}

@media (min-width: 992px) {
  .navbar-default .navbar-nav > li > a {
    padding: 20px;
    font-size: 20px;
  }
}

.headroom {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transition: all .5s ease-in-out;
}
.headroom--unpinned {
  top: -100px;
}
.headroom--pinned {
  top: 0;
}

.isSkrollrContainer {
  position: relative;
  top: 0;
  width: 100%;
  opacity: 1;
}

#logo {
  margin-top: 10px;
  float: left;
  height: 30px;
  width: auto;
}

@media (min-width: 992px) {
  #logo {
    height: 50px;
  }
}

/*
 * Settings for the front page
 */
.header {
  width: 100%;
  display: table;
  position: relative;
}

.vertical-center-table {
  display: table-cell;
  vertical-align: middle;
}

.bg {
  display: block;
  z-index: -1;
  background-attachment: scroll;
  background-position: 50% 0%;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;

  -webkit-filter: brightness(50%);
}

.header, .bg {
  height: 720px;
}

.vertical-center {
  display: inline-block;
  vertical-align: middle;
  float: none;
}

.description p {
  padding-top: 50px;
}

.banner {
  margin: 10px auto;
  padding: 30px;
  color: #fff;
  text-shadow: 0px 2px 0px rgba(0, 0, 0, 0.2);
}

.banner > h1 {
  font-size: 20px;
  margin-bottom: 10px;
}

.banner > p {
  font-weight: 300;
  font-size: 28px;
}

.banner-full {
  width: 100%;
  text-align: center;
}

.banner-full > ul {
  text-align: left;
}

.banner-left, .banner-right {
  width: 100%;
  text-align: center;
  padding: 30px;
}

@media (min-width: 480px) {
  .banner > h1 {
    font-size: 28px;
    margin-bottom: 20px;
  }

  .banner-full > p, .banner-full > ul {
    margin: 0 10%;
  }

  .banner-left {
    margin-left: 0;
    padding-left: 60px;
  }

  .banner-right {
    margin-right: 0;
    padding-right: 60px;
  }

  .banner-left, .banner-right {
    width: 380px;
    text-align: left;
  }
}

@media (min-width: 768px) {
  .banner > h1 {
    font-size: 80px;
    margin-bottom: 30px;
  }

  .banner-left, .banner-right {
    width: 500px;
  }
}
@media (min-width: 992px) {
  .banner > p, .banner > ul > li {
      font-size: 28px;
  }

  .banner-full > p, .banner-full > ul {
    margin: 0 20%;
  }
  .banner-full > h1 {
    margin: 20px 20%;
  }
}

.scroll-button {
  background: #fff;
  background: rgba(255, 255, 255, 0.9);

  text-align: center;
  font-size: 36px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  margin-left: -25px;

  position: absolute;
  left: 50%;
  bottom: 0px;
}

.fa-chevron-down {
  margin 0 2px;
}

/*
 * Prevents the navigation bar from cutting off the tops of pages
 */
.page-header {
  margin-top: 50px;
}

/*
 * Custom spacing for two-column pages
 */
.top-row {
  margin-top: 50px;
}

.tech-img {
  margin: 20px auto;
}

/*
 * For people page
 */
.people, .person-detail {
    margin: 0;
}

.group {
    margin-top: 50px;
}

.person-detail {
    margin-bottom: 20px;
}

.person-detail p {
    font-size: 14px;
    text-align: justify;
}
@media (min-width: 768px) {
    .person-detail {
        margin-bottom: 0;
    }
    .person-detail p {
        font-size: 10px;
        font-weight: 400;
    }
}
@media (min-width: 991px) {
    .person-detail p {
        font-size: 14px;
        font-weight: 300;
    }
}

.role, .role a {
  color: #00a;
}

.person {
    padding: 5px;
    cursor: pointer;
}

.person figure {
    position: relative;
}

.person img, .person-detail img {
    width: 100%;
    height: auto;
}

.grayscale {
    -webkit-filter: grayscale(100%);
       -moz-filter: grayscale(100%);
        -ms-filter: grayscale(100%);
         -o-filter: grayscale(100%);
            filter: grayscale(100%);
            filter: gray;
}

.person figcaption {
    position: absolute;
    bottom: 0;
    padding: 1px;
    width: 100%;
    background-color: #383533;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    font-weight: 500;
    font-size: 6px;
}

@media (min-width: 460px) {
    .person figcaption {
        font-size: 10px;
        padding: 5px;
    }
}


.person:hover figcaption {
    background-color: #00a;
    background-color: rgba(0, 0, 170, 0.5);
}

.person-detail {
    display: none;
}

.person-detail div {
    padding: 5px;
}

/*
 * Custom formatting for the news posts
 */
.post {
  background-color: #fff;
  line-height: 1.5em;
  width: 250px;
  margin-bottom: 10px;
  padding-bottom: 19px;
}

.post-img {
  width: 250px;
  height: auto;
}

@media (min-width: 460px) {
  .post {
    margin: 10px;
    padding: 20px;
    width: 400px;
  }
  .post-img {
    width: 360px;
  }
}

.post p {
  text-align: justify;
  font-size: 14px;
}

.post p > a {
  text-decoration: underline;
}

.date, .btn {
  font-family: AvenirLT-Black, Arial, sans-serif;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
}
.date {
  color: #383294;
}
.btn {
  background: #383294;
  line-height: 24px;
  border: none;
  transition: background-color 0.5s ease;
}
.btn:hover {
  background: #524CAE;
}

.video-post {
  width: 250px;
}

@media (min-width: 460px) {
  .video-post {
    width: 400px;
  }
}
@media (min-width: 991px) {
  .video-post {
    width: 820px;
  }
}

.entry-body {
  margin-top: 20px;
}

.footer > p {
  font-size: 10px;
}

/*
 * For job postings
 */
#job-title {
  margin-top: 50px;
}
