---
title: NuMat
layout: default
permalink: /
---

{% for item in site.data.index %}
<div class="header">
  <div class="bg" style="background-image: url(../img/{{ item.background }});"></div>
  <div class="vertical-center-table">
      <div class="banner banner-full isSkrollrContainer skrollable skrollable-between" data-{{ forloop.index0 | times:720 }}="top: 0px; opacity: 1;" data-top="top: 100px; opacity:0;">
      <h1>{{ item.title }}</h1>
      <p>{{ item.description }}</p>
    </div>
  </div>
</div>
{% endfor %}
