---
title: Partnerships | NuMat
layout: default
permalink: /partnerships/
---

{% for item in site.data.partnerships.sections %}

{% if forloop.first %}
<div class="header">
{% else %}
<div class="subheader">
{% endif %}

  <div class="header-background" data-src="/img/backgrounds/{{ item.background }}"></div>
  <div class="vertical-center-table">

    {% if forloop.first %}
    <div class="header-title skrollable skrollable-between" data-0="top: 0px; opacity: 1;" data-top="top: 100px; opacity:0;">
    {% else %}
    <div class="header-title">
    {% endif %}

      {% if item.subtitle %}
      <h4>{{ item.subtitle }}</h4>
      {% endif %}
      <h1>{{ item.title }}</h1>
    </div>
  </div>
</div>

<div class="container">
  <div class="row header-description">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 partner-content">
      <div>{{ item.description | markdownify }}</div>
    </div>
  </div>
</div>
{% endfor %}

<div class="container">
  <div class="row partners">
    <div class="col-xs-12 partner-title">
      <h2>{{ site.data.partnerships.examples.title }}</h2>
    </div>
    {% for member in site.data.partnerships.examples.members %}
    <div class="col-xs-6 col-md-4 partner-member">
      <a href="{{ member.link }}">
        <img class="partner-img"
             alt="{{ member.name }}"
             src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="
             data-src="/img/partnerships/{{ member.image }}">
      </a>
    </div>
    {% endfor %}
  </div>

  <div class="row partner-footer">
    <div class="col-xs-12">
      <p>{{ site.data.partnerships.footer }}</p>
    </div>
  </div>
</div>
