---
title: Partners | NuMat
layout: default
permalink: /partners/
---

<div class="header">
  <div class="header-background" data-src="/img/backgrounds/{{ site.data.partners.header.background }}"></div>
  <div class="vertical-center-table">
    <div class="header-title skrollable skrollable-between" data-0="top: 0px; opacity: 1;" data-top="top: 100px; opacity:0;">
      <h1>{{ site.data.partners.header.title }}</h1>
    </div>
  </div>
</div>

<div class="container">

  <div class="row partner-description">
    <div class="col-xs-12">
      <h2>{{ site.data.partners.description.title }}</h2>
      <p>{{ site.data.partners.description.content }}</p>
    </div>
  </div>

  <div class="row partners">
    <div class="col-xs-12 partner-title">
      <h2>{{ site.data.partners.title }}</h2>
    </div>
    {% assign currentOffset = -4 %}
    {% for member in site.data.partners.members %}
    <div class="col-xs-3 partner" id="{{member.name | downcase | replace:' ','-'}}">
      <figure>
        <img class="grayscale" alt="{{ member.name }}"
             src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="
             data-src="/img/partners/{{ member.image }}" />
        <figcaption>{{ member.name }}</figcaption>
      </figure>
    </div>
    {% capture mod %}{{ forloop.index | modulo:4 }}{% endcapture %}
    {% if mod == "0" or forloop.last %}
    </div>
      {% assign currentOffset = currentOffset | plus:4 %}
      {% for member in site.data.partners.members limit:4 offset:currentOffset %}
      <div class="row partner-detail" id="{{member.name | downcase | replace:' ','-'}}-detail">
        <div class="col-xs-12 col-sm-6">
          <img alt="{{ member.name }}"
               src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="
               data-src="/img/partners/{{ member.image }}" />
        </div>
        <div class="col-xs-12 col-sm-6">
          <h2>{{ member.name }}</h2>
          <p>{{ member.description | markdownify }}</p>
        </div>
      </div>
      {% endfor %}
      <div class="row partners">
    {% endif %}
  {% endfor %}
  </div>
  <div class="row partners-footer">
    <div class="col-xs-12">
      <p>{{ site.data.partners.footer }}</p>
    </div>
  </div>
</div>
