---
title: Partnerships | NuMat
layout: default
permalink: /partnerships/
---

{% for item in site.data.partnerships.sections %}

{% if forloop.first %}
<div class="header">
{% else %}
<div class="subheader">
{% endif %}

  <div class="header-background" data-src="/img/backgrounds/{{ item.background }}"></div>
  <div class="vertical-center-table">

    {% if forloop.first %}
    <div class="header-title skrollable skrollable-between" data-0="top: 0px; opacity: 1;" data-top="top: 100px; opacity:0;">
    {% else %}
    <div class="header-title">
    {% endif %}

      {% if item.subtitle %}
      <h4>{{ item.subtitle }}</h4>
      {% endif %}
      <h1>{{ item.title }}</h1>
    </div>
  </div>
</div>

<div class="container">
  <div class="row header-description">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 partner-content">
      <div>{{ item.description | markdownify }}</div>
    </div>
  </div>
</div>
{% endfor %}

<div class="container">
  <div class="row partners">
    <div class="col-xs-12 partner-title">
      <h2>{{ site.data.partnerships.examples.title }}</h2>
    </div>
    {% assign currentOffset = -4 %}
    {% for member in site.data.partnerships.examples.members %}
    <div class="col-xs-3 partner" id="{{member.name | downcase | replace:' ','-'}}">
      <figure>
        <img class="grayscale" alt="{{ member.name }}"
             src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="
             data-src="/img/partnerships/{{ member.image }}" />
        <figcaption>{{ member.category }}</figcaption>
      </figure>
    </div>
    {% capture mod %}{{ forloop.index | modulo:4 }}{% endcapture %}
    {% if mod == "0" or forloop.last %}
    </div>
      {% assign currentOffset = currentOffset | plus:4 %}
      {% for member in site.data.partnerships.examples.members limit:4 offset:currentOffset %}
      <div class="row partner-detail" id="{{member.name | downcase | replace:' ','-'}}-detail">
        <div class="col-xs-12 col-sm-6">
          <img alt="{{ member.name }}"
               src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="
               data-src="/img/partnerships/{{ member.image }}" />
        </div>
        <div class="col-xs-12 col-sm-6">
          <h2>{{ member.name }}</h2>
          <p>{{ member.description | markdownify }}</p>
        </div>
      </div>
      {% endfor %}
      <div class="row partners">
    {% endif %}
  {% endfor %}
  </div>

  <div class="row partners-footer">
    <div class="col-xs-12">
      <p>{{ site.data.partnerships.footer }}</p>
    </div>
  </div>
</div>
