---
title: Partnerships | NuMat
layout: default
permalink: /partnerships/
---

{% for item in site.data.partnerships %}

{% if forloop.first %}
<div class="header">
{% else %}
<div class="subheader">
{% endif %}

  <div class="header-background" data-src="/img/backgrounds/{{ item.background }}"></div>
  <div class="vertical-center-table">

    {% if forloop.first %}
    <div class="header-title skrollable skrollable-between" data-0="top: 0px; opacity: 1;" data-top="top: 100px; opacity:0;">
    {% else %}
    <div class="header-title">
    {% endif %}

      {% if item.subtitle %}
      <h4>{{ item.subtitle }}</h4>
      {% endif %}
      <h1>{{ item.title }}</h1>
    </div>
  </div>
</div>

<div class="container">
  <div class="row header-description">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 partner-content">
      <div>{{ item.description | markdownify }}</div>
    </div>
  </div>
</div>
{% endfor %}
