---
title: People | NuMat
layout: default
permalink: /people/
---

<div id="people-header" class="front">
  <div class="vertical-center-table">
    <div class="banner banner-full">
      <h1>Welcome to NuMat Technologies.</h1>
      <p>
        Innovation is at the core of who we are. We are a team of inventors with
        expertise in computational modeling, material design and synthesis, material
        scale-up and adsorption system design – all focused on designing products
        and systems that critically depend on material performance.
      </p>
    </div>
  </div>
  <a href="#people" class="scroll-button"><i class="fa fa-chevron-down"></i></a>
</div>

<div class="container" id="people">
  <div class="top-row"></div>

  {% for group in site.data.people %}

  {% if group.name != "Team" %}
  <div class="row">
    <div class="col-lg-12">
      <h2 class="page-header">{{ group.name }}</h2>
    </div>
  </div>
  {% endif %}

  <div class="row people">
  {% for member in group.members %}
    <div class="col-sm-6">
      <h3>{{ member.name }}</h3>
      <p class="role">{{ member.position }}</p>

      {% if group.name == "Team" %}
      <p class="role">
        <a href="{{ member.linkedin }}" target="_blank"><i class="fa fa-linkedin-square"></i></a>
        <a href="mailto:{{ member.email }}" target="_blank"><i class="fa fa-envelope"></i></a>
      </p>
      {% endif %}

      <p>{{ member.description | markdownify }}</p>
      <hr>
      <p>{{ member.education }}</p>
    </div>
  {% cycle nil, '</div><div class="row people">' %}
  {% endfor %}
  </div>
  {% endfor %}
