---
title: Technology | NuMat
layout: default
permalink: /technology/
---
{% for item in site.data.technology.content %}
<div class="header">
  <div class="header-background" style="background-image: url(../img/{{ item.background }});"></div>
  <div class="vertical-center-table">
    {% if forloop.first %}
    <div class="header-title skrollable skrollable-between" data-0="top: 0px; opacity: 1;" data-top="top: 100px; opacity:0;">
    {% else %}
    <div class="header-title">
    {% endif %}
      <h1>{{ item.title }}</h1>
    </div>
  </div>
</div>

<div class="container">
  <div class="row description">
    <div class="col-xs-12">
      <p>{{ item.description }}</p>
    </div>
  </div>
</div>
{% endfor %}
