$font-stack: 'Lato', sans-serif;

$thin: 300;
$normal: 400;
$thick: 900;

$black: #222;
$white: #fff;
$purple: #383294;
$light-purple: #524cae;

@mixin filter($filter) {
  -webkit-filter: $filter;
  -moz-filter: $filter;
  -ms-filter: $filter;
  -o-filter: $filter;
  filter: $filter;
}

@mixin transparent-background($color, $opacity: .8) {
  background: $color;
  background: rgba($color, $opacity);
}

::selection {
  background: $light-purple;
  color: $white;
}

::-moz-selection {
  background: $light-purple;
  color: $white;
}

body,
html {
  color: $black;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-stack;
  font-weight: $thick;
}

h1 {
  font-size: 30px;
  @media (min-width: 480px) {
    font-size: 40px;
  }
  @media (min-width: 768px) {
    font-size: 60px;
  }
  @media (min-width: 992px) {
    font-size: 80px;
  }
}

h2 {
  font-size: 18px;
  @media (min-width: 480px) {
    font-size: 24px;
  }
  @media (min-width: 768px) {
    font-size: 30px;
  }
  @media (min-width: 992px) {
    font-size: 36px;
  }
}

p,
li {
  font-family: $font-stack;
  font-size: 12px;
  font-weight: $thin;
  text-align: justify;
  @media (min-width: 480px) {
    font-size: 14px;
  }
  @media (min-width: 992px) {
      font-size: 18px;
  }
}

a,
a:hover,
a:visited,
a:active,
a:focus {
  color: inherit;
  text-decoration: underline;
}

a:hover {
  color: $purple;
}

%lazy {
  opacity: 0;
  transition: opacity .5s ease-in;
}

button,
.btn {
  background: $purple;
  border: 0;
  color: $white;
  font-size: 12px;
  font-weight: $thick;
  line-height: 24px;
  text-transform: uppercase;
  transition: background-color .5s ease;

  &:hover {
    background: $light-purple;
  }
}

.vertical-center-table {
  display: table-cell;
  vertical-align: middle;
}

.footer > p {
  font-size: 10px;
}
