@import 'global';

.header,
.subheader {
  background-color: $black;
  display: table;
  position: relative;
  width: 100%;
  z-index: 0;
}

.header-background {
  @extend %lazy;
  @include filter(brightness(50%));
  background-attachment: scroll;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}

.header {
  height: 90%;
}

.subheader {
  height: 60%;
}

.header-title {
  color: $white;
  margin: 10px auto;
  opacity: 1;
  padding: 30px;
  position: relative;
  text-align: center;
  text-shadow: 0 2px 0 rgba($black, .2);
  top: 0;
  width: 100%;
  z-index: 2;

  h1 {
    margin-bottom: 10px;
    @media (min-width: 480px) {
      margin-bottom: 20px;
    }
    @media (min-width: 768px) {
      margin-bottom: 30px;
    }
    @media (min-width: 992px) {
      margin: 20px 20%;
    }
  }

  p {
    font-size: 28px;
    font-weight: $thin;
    text-align: center;
  }

  ul {
    text-align: left;
  }

  p,
  ul {
    @media (min-width: 480px) {
      margin: 0 10%;
    }
    @media (min-width: 992px) {
      font-size: 28px;
      margin: 0 20%;
    }
  }

  a:hover {
    color: $white;
  }
}

.header-description {
  padding: 50px 25px;
  text-align: center;
}
