@import 'global';

.header {
  background-color: $black;
  display: table;
  position: relative;
  width: 100%;
  z-index: 0;
}

.vertical-center-table {
  display: table-cell;
  vertical-align: middle;
}

.header-background {
  @extend %lazy;
  @include filter(brightness(50%));
  background-attachment: scroll;
  background-position: 50% 0%;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}

.header,
.header-background {
  height: 720px;
}

.header-title {
  color: $white;
  margin: 10px auto;
  opacity: 1;
  padding: 30px;
  position: relative;
  text-align: center;
  text-shadow: 0 2px 0 rgba($black, .2);
  top: 0;
  width: 100%;
  z-index: 2;
}

.header-title > h1 {
  font-size: 20px;
  margin-bottom: 10px;
}

@media (min-width: 480px) {
  .header-title > h1 {
    font-size: 28px;
    margin-bottom: 20px;
  }
}

@media (min-width: 768px) {
  .header-title > h1 {
    font-size: 80px;
    margin-bottom: 30px;
  }
}

@media (min-width: 992px) {
  .header-title > h1 {
    margin: 20px 20%;
  }
}

.header-title > p {
  font-size: 28px;
  font-weight: $thin;
}

.header-title > ul {
  text-align: left;
}

@media (min-width: 480px) {
  .header-title > p,
  .header-title > ul {
    margin: 0 10%;
  }
}

@media (min-width: 992px) {
  .header-title > p,
  .header-title > ul {
    font-size: 28px;
    margin: 0 20%;
  }
}

.description p {
  padding-top: 50px;
}
