$disabled: rgba(128, 128, 128, .5);
$ionx-purple: #6f4a9e;

.header.ionx-header {
  background-color: transparent;
}

.ionx-header,
.ionx-header-description {
  min-width: 460px;
}

.background-video-container {
  background: url('/img/ionx/thumbnail.png') no-repeat;
  background-position: center center;
  background-size: cover;
  height: 100%;
  overflow: hidden;
  position: absolute;
  width: 100%;
  z-index: -2;
}

.background-video {
  @include transform(translateX(-50%) translateY(-50%));
  left: 50%;
  min-height: 100%;
  min-width: 100%;
  position: absolute;
  top: 50%;
  z-index: -1;
}

@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
  .background-video {
    display: none;
  }
}

.ionx-learn-more-container {
  display: inline-block;
  margin-top: 5%;
  text-align: center;
  width: 400px;
}

.ionx-learn-more-button,
.ionx-learn-more-input {
  border: 2px solid $white;
  height: 50px;
}

.ionx-learn-more-input {
  border-radius: 4px 0 0 4px;
  border-right: 0;
  font-size: 16px;

  &:active,
  &:focus,
  &:hover {
    border: 2px solid $white;
    border-radius: 4px 0 0 4px;
    border-right: 0;
  }
}

.ionx-learn-more-button {
  background: $ionx-purple;
  border-left: 0;
  border-radius: 0 4px 4px 0;

  &:disabled,
  &[disabled]:hover {
    background: $disabled;
    border: 2px solid $white;
    border-left: 0;
    border-radius: 0 4px 4px 0;
  }

  &:hover {
    border: 2px solid $white;
    border-left: 0;
    border-radius: 0 4px 4px 0;
  }
}

.ionx-learn-more-success,
.ionx-learn-more-failure {
  border: 2px solid $white;
  display: none;
  font-size: 14px !important;
  margin: 0 !important;
  text-align: center;
  text-shadow: none;
  width: 400px;
}

.ionx-learn-more-reset:hover {
  color: $ionx-purple !important;
}

.ionx-features-container {
  text-align: center;
}

.ionx-features {
  display: inline-block;
  margin-top: 20px;
  text-align: left;
}
