.job {
  margin-top: 75px;

  h1 {
    border-bottom: 1px solid $purple;
    font-size: 28px;
    margin-bottom: 20px;
    margin-top: 50px;
    padding-bottom: 20px;

    @media (min-width: 768px) {
      font-size: 48px;
    }
  }

  h2 {
    font-size: 18px;

    @media (min-width: 768px) {
      font-size: 24px;
    }
  }

  p {
    text-align: left;
  }
}

.header-description p {
  text-align: center;
}

.job-header {
  border-bottom: 1px solid $purple;
  margin-bottom: 20px;
  margin-top: 50px;
}
