@import 'global';

.navbar {
  border: 0;
}

.navbar-transparent {
  background: none;
  box-shadow: none;
  transition: background .5s ease;
}

.navbar-transparent .logo {
  @include filter(brightness(1000%));
};

.navbar-transparent a {
  color: $white !important;
  transition: color .5s ease;
}

.navbar-white {
  background: $white;
  box-shadow: rgba($black, .2) 0 0 2px 1px;
  transition: background .5s ease;
}

.navbar-white .logo {
  @include filter(none);
};

.navbar-white a {
  color: $black !important;
  transition: color .5s ease;
}

.nav > li > a {
  font-size: 15px;
  line-height: 30px;
  padding: 10px;
  text-decoration: none;
}

@media (min-width: 992px) {
  .nav > li > a {
    font-size: 20px;
    padding: 20px;
  }
}

.icon-bar {
  background-color: $black;
}

.navbar-toggle:hover,
.navbar-toggle:focus {
  background-color: $white;
}

.logo {
  float: left;
  height: 30px;
  margin-top: 10px;
  width: auto;
}

@media (min-width: 992px) {
  .logo {
    height: 50px;
  }
}
