.navbar {
  border: 0;
}

.navbar-transparent {
  background: none;
  box-shadow: none;
  transition: background .5s ease;

  .navbar-collapse {
    border: 0;
    box-shadow: none;
  }

  .logo {
    @include filter(brightness(1000%));
  }

  a,
  a:hover {
    color: $white !important;
    transition: color .5s ease;
    }
}

.navbar-white {
  background: $white;
  box-shadow: rgba($black, .2) 0 0 2px 1px;
  transition: background .5s ease;

  .logo {
    @include filter(none);
  }

  a,
  a:hover {
    color: $black !important;
    transition: color .5s ease;
  }
}

.nav > li > a {
  font-size: 14px;
  line-height: 30px;
  padding: 10px 15px;
  text-decoration: none;

  @media (min-width: 992px) {
    font-size: 20px;
    padding: 20px 15px;
  }
}

.navbar-default .navbar-toggle {
  &,
  &:focus,
  &:hover {
    background-color: $white;
    border-color: $white;

    .icon-bar {
      background-color: $black;
    }
  }
}

.logo {
  float: left;
  height: 30px;
  margin-top: 10px;
  width: auto;

  @media (min-width: 992px) {
    margin-top: 20px;
  }

  @media (min-width: 1200px) {
    height: 50px;
    margin-top: 10px;
  }
}
