.top {
  margin-top: 100px;
}

.post {
  background-color: #fff;
  margin-bottom: 10px;
  padding-bottom: 19px;
  width: 250px;
  @media (min-width: 460px) {
    margin: 10px;
    padding: 20px;
    width: 400px;
  }

  p {
    text-align: justify;
    @media (min-width: 991px) {
      font-size: 14px;
    }
  }

  a {
    text-decoration: underline;
  }
}

.post-img {
  @extend %lazy;
  width: 250px;
  @media (min-width: 460px) {
    width: 360px;
  }
}

.date {
  color: $purple;
  font-size: 12px;
  font-weight: $thick;
  text-transform: uppercase;
}

.video-post {
  width: 250px;

  @media (min-width: 460px) {
    width: 400px;
  }

  @media (min-width: 991px) {
    width: 820px;
  }
}

.entry-body {
  margin-top: 20px;
}
