.partner-title {
  padding: 0;
  text-align: center;
}

.partners {
  display: table;
}

.partner-member {
  display: table-cell;
  float: none;
  vertical-align: middle;
}

.partner-img {
  @extend %lazy;
  height: auto;
  width: 100%;
}

.partner-footer {
  margin-top: 25px;

  p {
    text-align: center;
  }

  @media (min-width: 768px) {
    min-height: 200px;

    p {
      font-size: 22px;
    }
  }
}
