.partner-content {
  align-items: center;
  display: flex;
  justify-content: center;

  @media (min-width: 768px) {
    min-height: 400px;

    p,
    li {
      font-size: 22px;
    }

    h2 {
      margin-bottom: 30px;
    }
  }
}

.partner-img {
  @extend %lazy;
  height: auto;
  max-width: 500px;
  width: 250px;

  @media (min-width: 768px) {
    width: 100%;
  }
}
