.partner-title {
  padding: 0;
  text-align: center;
}

.partner-content {
  align-items: center;
  display: flex;
  justify-content: center;

  @media (min-width: 768px) {
    min-height: 400px;

    p,
    li {
      font-size: 22px;
    }

    h2 {
      margin-bottom: 30px;
    }
  }
}

.partner-member {
  padding: 15px;
}

.partner-img {
  @extend %lazy;
  height: auto;
  width: 100%;
}

.partner-footer {
  margin-top: 25px;

  p {
    text-align: center;
  }

  @media (min-width: 768px) {
    min-height: 200px;

    p {
      font-size: 22px;
    }
  }
}
