.partners,
.partner-detail {
  margin: 0;

  img {
    @extend %lazy;
    height: auto;
    width: 100%;
  }
}

.partners,
.partners-footer {
  margin-top: 50px;
}

.partner-detail {
  border: 1px solid transparent;  // From http://stackoverflow.com/questions/1335461/jquery-slide-is-jumpy
  display: none;
  margin-bottom: 20px;

  div {
    padding: 5px;
  }

  p {
    @media (min-width: 768px) {
      font-size: 10px;
    }

    @media (min-width: 991px) {
      font-size: 14px;
    }
  }
}

.partner {
  cursor: pointer;
  padding: 5px;

  figure {
    position: relative;
  }

  figcaption {
    @include transparent-background($black);
    bottom: 0;
    color: $white;
    font-size: 6px;
    font-weight: $normal;
    padding: 1px;
    position: absolute;
    width: 100%;

    @media (min-width: 460px) {
      font-size: 10px;
      padding: 5px;
    }
  }

  &:hover figcaption {
    @include transparent-background($purple);
  }
}

.grayscale {
  @include filter(grayscale(100%));
}
