.platforms-title {
  margin-top: 50px;
  text-align: center;

  > h2 {
    margin-top: 0;
  }
}

.platforms-subtitle {
  margin: 0;
}

.platforms-top {
  margin-bottom: 30px;
}

.platform-img {
  @extend %lazy;
  height: auto;
  width: 100%;
}
