.tech-content {
  display: table;

  @media (min-width: 768px) {
    height: 500px;
  }

  p {
    display: table-cell;
    vertical-align: middle;
  }
}

.tech-img {
  @extend %lazy;
  height: auto;
  max-width: 500px;
  width: 250px;
  @media (min-width: 768px) {
    width: 100%;
  }
}
