.tech-content {
  display: table;
}

@media (min-width: 768px) {
  .tech-content {
    height: 500px;
  }
}

.tech-content p {
  display: table-cell;
  vertical-align: middle;
}

.tech-img {
  @extend %lazy;
  height: auto;
  width: 250px;
}

@media (min-width: 768px) {
  .tech-img {
    width: 500px;
  }
}
