---
layout: default
---
<div class="container job">
  <div class="row top-row">
    <div class="col-sm-12">
      <h1 id="job-title">{{ page.job }}</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-8">
      {{ content }}
      <h2>About NuMat</h2>
      <p>
        NuMat Technologies (“NuMat”) is a start-up company innovating at the intersection of high-performance computing, chemistry and advanced manufacturing. NuMat is a recognized pioneer in the field of metal-organic frameworks (MOFs) — an emerging class of nanomaterials which can be programmed to uniquely interact with target molecules at the atomic level. NuMat’s expertise lies in the design and integration of MOFs into next-generation storage, separation and purification systems. In doing so, NuMat enables previously unachievable form factors, performance and cost-advantaged production economics in the electronics, life-sciences and energy sectors.</p>

      <p>
        Since our founding in 2013, we’ve been recognized by Google as a “Solve for X” innovator, won the Kleiner Perkins Caufield & Byers “Green Tech Innovation” prize and have been backed by leading venture and strategic investors such as OS Fund and Patagonia.

      </p>
    </div>
    <div class="col-sm-3 col-sm-offset-1">
      <h2>Location</h2>
      <p>At NuMat's main office in beautiful Skokie, IL.</p>
      <h2>Interested?</h2>
      <p>
        Send us an email with your resume and we'll get back to you to continue
        the discussion.
      </p>
      <a href="mailto:careers@numat-tech.com">
        <button type="submit" class="btn btn-primary">Apply now!</button>
      </a>
    </div>
  </div>
</div>
