---
layout: default
---
<div class="container job">
  <div class="row top-row">
    <div class="col-sm-12">
      <h1 id="job-title">{{ page.job }}</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-8">
      {{ content }}
      <h2>About NuMat</h2>
      <p>
        NuMat is an award-winning technology company committed to enabling
        fundamental performance shifts in gas storage and separation. NuMat is
        focused on commercializing metal-organic frameworks (MOFs), a class of
        high-performing sorbents that can be tailor-designed at the atomic level
        for specific uses. NuMat's unique capabilities are based on key
        technological advancements in computational design, laboratory synthesis,
        and large-scale production of MOFs, which has enabled NuMat to rapidly
        prototype full-scale products with strong market interest. To date,
        NuMat has identified materials that show significant promise in the
        storage of natural gas, electronic gases, oxygen, and industrial gases,
        as well high-value gas separation and purification.
      </p>
    </div>
    <div class="col-sm-3 col-sm-offset-1">
      <h2>Location</h2>
      <p>At NuMat's main office in beautiful Skokie, IL.</p>
      <h2>Benefits</h2>
      <p>
        A competitive salary, comprehensive health, dental, and vision plans,
        stake in the company, and the opportunity to grow with a high-performing
        team!
      </p>
      </ul>
      <h2>Interested?</h2>
      <p>
        Send us an email with your resume and we'll get back to you to continue
        the discussion.
      </p>
      <a href="mailto:careers@numat-tech.com">
        <button type="submit" class="btn btn-primary">Apply now!</button>
      </a>
    </div>
  </div>
</div>
